body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  font-size: 18px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  flex-direction: column;
}
.section-aside-wrapper {
  display: flex;
  flex-direction: row;
}
#main-header {
  height: 95px;
  margin: 10px;
  display: grid;
  place-items: center;
}
.sub-header {
  height: 70px;
  display: grid;
  place-items: center;
}
#article-header {
  background-color: #777;
  height: 50px;
  display: grid;
  place-items: center;
}
nav {
  height: 95px;
  margin: 10px;
  display: grid;
  place-items: center;
}
article {
  margin: auto;
  color: #ebebeb;
}
section {
  height: 288px;
  width: 495px;
  margin: 10px;
}
aside {
  height: 288px;
  width: 425px;

  margin: 10px;
}
footer {
  width: 940px;
  height: 95px;
  margin: 10px;
  display: grid;
  place-items: center;
}
article {
  background-color: #777;
  color: #ebebeb;
  height: 190px;
  margin: 10px;
}

header,
nav,
section,
aside,
footer {
  background-color: #ebebeb;
  text-align: center;
}
h1,
p {
  background-color: #ebebeb;
  color: #777;
  height: 50px;
  margin: 10px;
  display: grid;
  place-items: center;
}
